/*Прижатие футера*/
    {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}




.footer {
    flex: 0 0 auto;
}




h1 {
    color: darkgreen
}

a {
    color: chocolate
}

a:hover {
    color: darkred
}

.menu {
    padding-left: 50px
}


.menu a {
    color: darkolivegreen
}

.menu a {
    text-decoration: none;
}


.menu a:hover {
    color: darkseagreen
}

.menu a li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.forma form {
    display: flex;
    flex-direction: column;
}



.forma form {
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    width: 250px;
    height: 30px;
    margin: 10px 15px 15px 10px;

}


.forma {
    display: flex;
    justify-content: center;
}

.kategorii ul {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.chtoto ul {
    display: flex;
    justify-content: space-around;
}

.proverka {
    background: darkseagreen;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500. font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: darkseagreen;
    text-transform: uppercase
}

.border {
    font-style: italic
}

.border {
    text-align: center;
}

.kart {
    display: flex;
    justify-content: center
}

.menu{
    background-color:whitesmoke
}

.content {
    background-image: url(img/%D1%84%D0%BE%D0%BD.png);
    background-repeat: no-repeat;
    /* width: 100px; */
    /* height: 1000px;
}
 
.footer
    